@import url(//fonts.googleapis.com/css?family=Libre+Franklin:400,700);
@import url(//fonts.googleapis.com/css?family=Assistant);

body {
    font-family: "Assistant", sans-serif;
    color: #444444;
}
.title {
    font-family: "Libre Franklin", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.list {
    font-size: 2em;
}
.main-index {
    font-size: 1.5em;
    margin-top: 2ex;
    margin-bottom: 1ex;
}
.section {
    font-size: 1.5em;
    margin-top: 2ex;
    margin-bottom: 1ex;
}
.index {
    font-size: 1.2em;
    margin-top: 1ex;
}
.entry {
    margin-top: 5ex;
    margin-bottom: 5ex;
    padding-left: 2ex;
    border-left-style: solid;
    border-left-width: thick;
    border-color: #666666;
}
.key {
    font-size: 1.2em;
}
.item-category {
    margin-left: 2ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}
.item-category-title {
    font-weight: bold;
}
.item-container {
    margin-left: 2ex;
    margin-top: 1ex;
    margin-bottom: 1ex;
}
.item-container-title {
    font-weight: bold;
}
.item {
    margin-left: 3ex;
}
.item-title {
    font-weight: bold;
}
.stats {
    font-size: 0.8em;
    margin-left: 1ex;
}
.link-to-top {
    font-size: 0.8em;
    margin-left2: 1ex;
}
.link-to-top::before {
    content: "\2191 ";
}
.link-to-section {
    font-size: 0.8em;
    margin-left2: 1ex;
}
.link-to-section::before {
    content: "\2191 ";
}
a {
    text-decoration: none;
    color: #666666;
}
a:hover {
    text-decoration: underline;
    color: #999999;
}
